body{
   background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
    min-height: 100vh;
    margin: 0;
}


.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.items:not(h1){
    font-size:20px;
    
}
.show >*:not(button) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.show button{
     margin-top: 10px;
    margin-bottom: 10px;
}

input{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:18px;
    font-family: sans-serif;
    border-radius: 5px;
    position: relative;
    top:5px;
    padding: 5px;
}
form :first-child {
    margin-top : 15px;
}

input:hover{
    transition: all 0.3s;
    transform : scale(1.05,1.05);
    border: 2px solid rgb(0, 245, 0);
}

button{
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
    border-radius: 10px;
    padding: 7px;
    font-size:16px;
    box-shadow: 1px 1px gray;
    color: white;
    margin-bottom: 50px;
}

button:hover{
    transition: all 0.3s;
    background-position: right center;
    padding: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    position: relative;
    left:40px;
}

.product:first-child{
    position: relative;
    left:12px;
}

