body{
    background-color: wheat;
    min-height: 100vh;
    margin: 0;
}


.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif; 
}

.items:not(h1){
    font-size:20px;
}
.show >* {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

input{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:20px;
    border-radius: 5px;
    position: relative;
    top:5px;
    padding: 5px;
}
form :first-child {
    margin-top : 15px;
}

input:hover{
    transition: all 0.3s;
    transform : scale(1.05,1.05);
    border: 2px solid rgb(0, 245, 0);
}

button{
    border-radius: 10px;
    padding: 5px;
    font-size:20px;
    background: orangered;
    box-shadow: 1px 1px gray;
    color: white;
    margin-bottom: 50px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

